[2018-10-30 07:29] vikram-rawat opened #1 "Is this a Fork on GOTA?"
Is this a fork on GOTA.

[2018-10-30 11:18] vikram-rawat opened #2 "It shouldn't print all the rows and columns as default"
Default should print only as much as console.

![image](https://user-images.githubusercontent.com/22342596/47714677-87062500-dc63-11e8-9796-628edd11e20a.png)

[2018-10-31 12:51] pjebs commented on #1
No

[2018-11-01 10:15] rocketlaunchr-cto commented on #1
It's not a fork. It was loosely inspired: https://medium.com/@rocketlaunchr.cloud/dataframes-for-go-b1f26f523ab9

[2018-11-01 10:15] #1 closed

[2018-11-01 10:17] rocketlaunchr-cto commented on #2
I'll eventually fix it up so it displays the first 3 and last 3 rows.
Alternatively, you can provide a PR and replicate the `String()` function in the Series structs.

[2018-11-02 16:51] vikram-rawat commented on #2
I am not a programmer and I am just learning Golang but I will try to help you out if possible. If there is something easy you want me to do I will surely do it.

I think this library needs
1. Import from SQL
2. Import from excel
3. select columns
4. Filter Rows
5. Group By Values
6. Basic functions like sum, mean etc....

Let me know if I can help in any of these. Best of Luck!!!

[2018-11-03 04:40] rocketlaunchr-cto commented on #2
1. 2. I won't have time to implement import from SQL or Excel any time soon. That will require assistance from others.

3. What do you mean Select columns?
The function `NameToColumn(seriesName string)` combined with the `Series` field can be used to select columns.

4. 5. These I will work on when I figure out the best API to do so.

6. This is doable.

[2018-11-20 20:53] bk521234 commented on #2
I think these sounds like great ideas!

`1.` and `2.`  could be part of a longer term project road map.
`4.`, `5.`, and `6.` sound like great shorter term features to tackle.

can I help out anywhere @rocketlaunchr-cto ? we will have to break up large goals into manageable pieces..

[2018-11-21 21:47] rocketlaunchr-cto commented on #2
@bk521234 How would you like to help. I can write up a document on what you can do.

[2018-11-27 19:22] bk521234 commented on #2
i'd be willing to chip in some help to add a few features. a document could be really useful. maybe a wiki page with stuff? or small-ish projects for the near term?

I think the more functionality the package has, the more willing people will be to adopt/ use it

[2018-12-02 18:46] vikram-rawat commented on #2
I am not a good programmer but I can help too. But I am stuck somewhere I would want you to help me too... Start a slack channel or something where we could work.

[2018-12-03 20:48] rocketlaunchr-cto commented on #2
@vikram-rawat @bk521234 Here are some tasks:
1. For `func (df *DataFrame) NRows() int`, insert an optional bool parameter so enable/disable the read lock inside the function. The default should be to read lock.

2. Fix up the `func (df *DataFrame) String() string {` function found in dataframe_fmt.go to show only the first 3 items, then ..., then the last 3 items, similar to how the Series.String(

[2019-06-02 04:32] pjebs commented on #2
This has now been fixed. Print will only show max 6 rows as summary.

[2019-06-02 04:34] rocketlaunchr-cto commented on #2
This has now been fixed. Print will only show max 6 rows as summary.

[2019-06-02 04:34] #2 closed

[2019-12-20 11:52] mullerhai opened #15 "how to get dataframe all data convert to gonum dense matrix ?"
I want to use it ,but I found some problem  ,You make the property  about  SeriesInt64 values private !!!,why ?

would you like tell how to convert  dataframe  to  gonum  dense matrix ?

and how to use  LoadFromCSV(ctx,strings.NewReader(csvStr)),which ctx ,how to define the context.Context

[2019-12-20 11:59] pjebs commented on #15
Can you use SeriesFloat64 to interact with gonum?

This is a Go question. Not a dataframe question. import `context` and use `context.Background()` if you are unsure.

[2019-12-20 12:47] mullerhai commented on #15
thx,you have tell me the context use ,LoadFromCSV(ctx,strings.NewReader(csvStr))

but   dataframe all data convert to gonum dense matrix also has problem
I use dataframe.SeriesFloat64  variable to create Dataframe,like this

	var s1 *dataframe.SeriesFloat64 = dataframe.NewSeriesFloat64("day", nil, 1, 2, 3, 4, 5, 6, 7, 8)
	var s2 *dataframe.SeriesFloat64 = dataframe.NewSeriesFloat64("day3", nil, 1,

[2019-12-20 12:51] mullerhai commented on #15
I write code like this
func series_convert_floatarray( df *dataframe.DataFrame) []float64{
	series := df.Series
	arr := make([]float64,len(df.Names())*df.NRows())

	for _,data :=range  series{
		//this  has error ,data Series type can not convert to  dataframe.SeriesFloat64
		tem_arr := (dataframe.SeriesFloat64)data

		arr = append(arr,tem_arr.Values )
	}
	return arr
}

[2019-12-20 12:53] pjebs commented on #15
df.Series[0].(SeriesFloat64).Values

[2019-12-20 12:56] mullerhai commented on #15
dataframe.SeriesFloat64 does not implement dataframe.Series (Append method has pointer receiver)

cant use it

[2019-12-20 12:58] pjebs commented on #15
@propersam can you check this

[2019-12-20 12:59] pjebs commented on #15
Try above now

[2019-12-20 13:00] mullerhai commented on #15
ok ,perfect solve it ,thx

[2019-12-20 13:27] mullerhai commented on #15
I think maybe you need to add one method like this ,maybe convenient the user like me  ,these method is base on python pandas ,

func (df *dataframe.DataFrame ) get_row(row int )[]float64{
	series := df.Series
	arr := make([]float64,0)
	for _,data :=range  series{
		arr =append(arr,data.Value(row).(float64))
	}
	return arr
}

func ( df *dataframe.DataFrame) series_convert_floatarray() []float64{

[2019-12-20 13:43] pjebs commented on #15
Your using the package wrong. Go is not a language you can just stay using quickly.

[2019-12-20 14:36] mullerhai commented on #15
I know you say ,but I has used  java  scala python c++ c# in my company project  ,first time use golang just want to use machine learning project ,I need  numpy pandas instead of  in golang ,so do that

[2019-12-21 10:28] #15 closed

[2019-12-24 12:14] mullerhai opened #16 "HOw to use CSVLoadOptions ?"
hi
i have one csv fiile ,has four fields [USERID ,MOVIEID,RATING, TIMESTAMP) ,LoadFromCSV default load
all fields data type are string ,I want to change it with float64  when load init ,so I create CSVLoadOptions
var csvOp imports.CSVLoadOptions
	csvOp.DictateDataType =make(map[string]interface{})
	csvOp.DictateDataType["USERID"]= float64(0)
	csvOp.DictateDataType["MOVIEID"]=float64(0)
	csvOp.Dict

[2019-12-24 12:15] mullerhai commented on #16
csv: invalid field or comment delimiter

[2019-12-24 12:21] mullerhai commented on #16
UserID,MovieID,Rating,Timestamp
1,1193,5,978300760
1,661,3,978302109
1,914,3,978301968
1,3408,4,978300275
1,2355,5,978824291
1,1197,3,978302268

[2019-12-24 12:22] mullerhai commented on #16
could you give me  a example to use  imports.CSVLoadOptions

[2019-12-24 12:30] pjebs commented on #16
That error is from csv package from standard library which is used underneath.

https://golang.org/pkg/encoding/csv/

[2019-12-24 12:32] pjebs commented on #16
Also the column names in csv data must match in dictate data type (including case)

[2019-12-24 12:35] pjebs commented on #16
Also provide Comma seeing to ,

[2019-12-24 12:35] mullerhai commented on #16
could you give me example use CSVLoadOptions please ,very thx

[2019-12-24 12:38] mullerhai commented on #16
type CSVLoadOptions struct   Comma rune  Comment rune ,
the rune type int32 ?? but // Comma is the field delimiter.
	// The default value is ',' is string

[2019-12-24 12:39] mullerhai commented on #16
if i need rune set value ?
csvOp.Comma =","  is error

[2019-12-24 12:42] pjebs commented on #16
Try single quotes

[2019-12-24 12:42] mullerhai commented on #16
var csvOp imports.CSVLoadOptions
{0 0 false false map[MOVIEID:0 RATING:0 TIMESTAMP:0 USERID:0] <nil>}
fmt.Println(csvOp)

[2019-12-24 12:43] mullerhai commented on #16
please  show me the code to run

[2019-12-24 12:43] pjebs commented on #16
For dictate data type, your column names don't match your csv data. The case must match

[2019-12-24 12:45] mullerhai commented on #16
see me code ,is the correct use CSVLoadOptions   style

	var ctx = context.Background()
	file, err := os.Open(ratingPath)
	//strings.NewReader(ratingPath)
	var csvOp imports.CSVLoadOptions
	//csvOp.Comma = 0
	csvOp.DictateDataType =make(map[string]interface{})
	csvOp.DictateDataType["USERID"]= float64(0)
	csvOp.DictateDataType["MOVIEID"]=float64(0)
	csvOp.DictateDataType["RATING"]=float64(0)
	csvO

[2019-12-24 12:46] pjebs commented on #16
You didn't listen to anything I wrote

[2019-12-24 12:47] mullerhai commented on #16
csvOp.DictateDataType[fieldname ] = fieldvalueInit, I just want to know the running example ,I dont know if I write the correct code style

[2019-12-24 12:47] pjebs commented on #16
I'll write up a detailed code sample tomr

[2019-12-24 12:48] mullerhai commented on #16
thx you much

[2019-12-24 12:51] pjebs commented on #16
[code]

[2019-12-24 16:44] mullerhai commented on #16
like you write the sample code ,
csvOp := imports.CSVLoadOptions{
		Comma: ',',
		Comment:2,
		DictateDataType: map[string]interface{}{
			"UserID": float64(0),
			"MovieID": float64(0),
			"RATING" :float64(0),
			"TIMESTAMP" :float64(0),
		},
	}
{44 2 false false map[MovieID:0 RATING:0 TIMESTAMP:0 UserID:0] <nil>}
+-----+--------+--------+--------+------------+
|     |  403   |  2154  |   1    |

[2019-12-24 16:49] mullerhai commented on #16
all perfectly running

[2019-12-24 20:30] #16 closed

[2019-12-26 11:42] pjebs opened #17 "TODO: new features/updates"
1. ~~Update copyright + remove coverall~~
2. ~~Add Row function to dataframe (also allow it to decide what of data is returned) + DeepLock opt~~
3. ~~In utils, Search function to allow option to stop after finding N values.~~
4. ~~In imports pkg, for importing from SQL, change from stmt to interface.~~
5. ~~Allow imports.CSVLoadOptions to have default Comma,~~
6. ~~Allow imports.DictateDataType to

[2019-12-26 18:51] propersam commented on #17
Is it okay to work on the features one PR at a time and reference this issue in it for each feature implemented...?

[2020-01-07 08:29] typeless opened #18 "Support for Go modules?"
Go modules makes it easier to work on multiple forked packages at the same time.
I suppose a simple `go mod init github.com/rocketlaunchr/dataframe-go` would be sufficient to have it.

If you accept the proposal, I can submit a PR later.

[2020-01-07 09:05] pjebs commented on #18
In a week or two, I'll be adding some new features and changing the API in a few places.
Once I complete that I will tag it v1 and add go modules.

[2020-01-07 09:06] pjebs commented on #18
I'm hesitant to add go modules yet because although it's trivial to add a v1, there are some complexities involved when creating a breaking change and going to v2. I want to be happy with the API before I create "v1" to reduce the hassles later on.

[2020-02-01 12:00] pjebs commented on #17
This is practically complete. It is in improvements branch. It will get merged to master.

[2020-02-12 21:49] pjebs commented on #18
done.

[2020-02-12 21:49] #18 closed

[2020-03-12 08:45] kaviarasankk opened #21 "panic: runtime error: invalid memory address or nil pointer dereference"
`
content, err := ioutil.ReadFile(parsedDirectory, file.Name())
if err != nil{
	fmt.Println(err)
	return
}
df, err := imports.LoadFromCSV(ctx, bytes.NewReader(content))
var writers io.Writer
jsonErr := exports.ExportToJSON(ctx, writers, df)
if jsonErr != nil{
	fmt.Println("Json export error")
}
`

The above script throws below error

panic: runtime error: invalid memory address or nil pointer dere

[2020-03-12 09:37] pjebs commented on #21
@propersam can you look at this

[2020-03-12 09:49] pjebs commented on #21
@kaviarasankk

After this line: df, err := imports.LoadFromCSV(ctx, bytes.NewReader(content))
Can you check err. If err != nil, then don't proceed.

[2020-03-12 10:00] pjebs commented on #21
This line is also wrong:
[code]

`writers` is nil. It needs to actually be something.

[2020-03-12 10:00] kaviarasankk commented on #21
`content, err := coreio.ReadFile(parsedDirectory, file.Name())
		if err != nil{
			fmt.Println(err)
			return
		}

		df, err := imports.LoadFromCSV(ctx, bytes.NewReader(content))
		if err != nil{
			fmt.Println(err)
			log.Fatal(err)
		}

		var writers io.Writer
		jsonErr := exports.ExportToJSON(ctx, writers, df)
		if jsonErr != nil{
			fmt.Println("Json export error")
		}`

Tried the above code s

[2020-03-12 10:03] pjebs commented on #21
writers is nil. That's why it's panicing.

[2020-03-12 20:19] #21 closed

[2020-03-12 21:43] propersam commented on #21
Hi @kaviarasankk you need to implement Writer properly..
..
or you can try this other method i use..if you like..

[code]

[2020-03-25 16:41] MrPowers opened #23 "Getting dataframe.ApplySeriesFn undefined error"
Thanks for creating this library!

I can get this code to work:

[code]

Here's the data that's printed:

[code]

I cannot get this code working:

[code]

Here's the error message:

[code]

Here's the code: https://github.com/MrPowers/go-dataframe-examples/blob/master/dataframe_go.go

Sorry if this is a basic question.  I am a Go newbie!

Thanks again for making this library!

[2020-03-25 18:10] propersam commented on #23
Hi @MrPowers,
I can see the issue is frm ur code usage...

First of all, I would really recommend u change ur variable name frm *dataframe* to somtn else maybe *df*

Secondly ur dataframe has only 2 series(columns). Indexing starts frm 0( for first )nd 1( for second)

[2020-03-25 18:23] propersam commented on #23
Thirdly u don't use AppySeriesFn on the dataframe. Dataframe is made up of one or more series such method is applied on any of the series within the dataframe.

So try this code instead:

[code]

*dataframe* is supposed to be the name of the imported package.
[code]

[2020-03-25 19:49] MrPowers commented on #23
@propersam - thanks for the quick response.  Really appreciate the help!

I will definitely make sure to get this in the README, so it's easier to follow:

[code]

I have another bug now, but it's separate, so I'll raise another issue.  I'll send the README PR right now before I forget.

[2020-03-25 20:20] propersam commented on #23
we are very much grateful for your interest in contributing to this project.
i dropped a comment in ur PR.

we hope to get more highly interesting PRs from you in later times.

[2020-03-25 20:21] propersam commented on #23
Since you issue is solved..i guess it's safe to close this now...

[2020-03-25 20:21] #23 closed

[2020-03-25 21:36] pjebs commented on #23
When you import, you need to use dictatedatatype to specify the that favorited number is an int and not a string. Then in Apply, you can multiply by 2.

[2020-03-25 22:41] MrPowers commented on #23
@pjebs - thanks for the hint.  I see `DictateDataType` [in the code](https://github.com/rocketlaunchr/dataframe-go/blob/0ec0a97d0f0d052e95557fee2aba1f3ce5bf94b1/imports/csv.go#L44-L49) here.

Can you please provide me with a code snippet?

Let me know if you're open to updating this code snippet with `DictateDataType` so we can show users how to get the column types correct.

Might be cool to add

[2020-03-25 23:38] propersam commented on #23
code snippet:

[code]

Note: `firstName` nd `favoriteNumber` are just sample names I use...the actual name you will pull in should be the exact column names in the csv files... it's Case sensitive

[2020-03-26 00:21] pjebs commented on #23
I guess docs can be made clearer to specify that the key of DictateDataType is the name of column (case-sensitive)

[2020-03-26 01:35] MrPowers commented on #23
Thank you both so much for the help!

@pjebs - I was thinking you might want to update [this README example ](https://github.com/rocketlaunchr/dataframe-go#csv) so folks can see how to use `DictateDataType`.  Either way is good with me!

[2020-03-29 05:15] pjebs commented on #23
@MrPowers How is the package serving you? Any other feedback? What is your use case?

[2020-03-30 06:43] xtrimf opened #25 "add support for parquet read/write"
https://github.com/xitongsys/parquet-go

[2020-03-30 07:24] pjebs commented on #25
@propersam Can you investigate this?

[2020-03-30 12:26] MrPowers commented on #23
@pjebs - thanks for reaching out.

I am a Spark developer and love DataFrames.  I am exploring DataFrame options in different languages for fun!

I just published a blog post on [DataFrames in Go](https://mungingdata.com/go/dataframes-gota-qframe/).  Let me know what you think!  I am happy to edit it based on your feedback!

It'd be awesome to [add dataframe-go to qbench](https://github.com/tobgu/

[2020-03-31 02:00] pjebs commented on #25
https://github.com/rocketlaunchr-cto/tasks/issues/97

[2020-03-31 02:01] pjebs commented on #25
@xtrimf would you like to have a go at making a PR?

[2020-03-31 08:09] vikram-rawat opened #26 "Examples on the main Page don't work"
Example with ctx arguements don't work. and I wanted to know how to directly get the data from SQL to a dataframe and serve it as an API. I read your blog too. but that too had exactly the same examples.

This is a great package. thanks for working so hard.

[2020-03-31 09:20] pjebs commented on #26
Can you give me a code sample of what you were trying to achieve?

[2020-03-31 11:44] pjebs commented on #23
@MrPowers I had a quick read of your blog post and made some adjustments.

1. In the `add-schema-inference` branch there is schema inference. It just needs to be tested.
2. context requirement is idiomatic go. It is **very bad** if context is not the first param in case you need to cancel the operation because it's taking too long.
3. You can use the `NameToColumn` function (or in the new PR, the

[2020-04-02 02:26] #26 closed

[2020-04-03 06:29] vikram-rawat commented on #26
I am currently trying to learn it so that I can recommend it to be used in an upcoming project. But the examples mentioned on the site are not working... this is what I wrote..

[code]

[2020-04-03 06:31] pjebs commented on #26
add `ctx := context.Background()` at the top

[2020-04-08 06:16] ayanDas-isi opened #28 "How to import this package"
Hi. I am new to Go. Can someone please guide me how to import this package in local.

[2020-04-08 08:09] pjebs commented on #28
`go get -u github.com/rocketlaunchr/dataframe-go`

`import dataframe "github.com/rocketlaunchr/dataframe-go"`

[2020-04-08 11:43] ayanDas-isi opened #29 "sort having issue with ctx"
sks := []dataframe.SortKey{
	{Key: "sales", Desc: true},
	{Key: "day", Desc: true},
}

df.Sort(ctx, sks)

In this code you have provided in readme, ctx is not defined any where before that. I got it is coming from context but I think we need to initialize this ctx first before calling df.Sort(ctx, sks). Kindly guide me. Thanks in advance.

[2020-04-08 12:27] pjebs commented on #29
`ctx := context.Background()`

[2020-04-08 12:27] #29 closed

[2020-04-08 12:28] #28 closed

[2020-04-13 22:27] pjebs commented on #17
Support gonum matrix

[2020-05-11 17:32] pjebs commented on #25
Expert to parquet now implemented

[2020-05-12 04:07] pjebs commented on #17
Parquet read

[2020-05-12 04:07] #25 closed

[2020-05-29 05:26] patgunner opened #30 "Getting back Float64/Int64/Mixed series from dataframe"
I wanted to know if there is a way to convert a series interface to get the original type of series  (Float64/Int64/Mixed) underneath it.
I will describe mu use case.

After creating a dataframe, I am trying to use gonum to do some analysis. For eg. linear regression of two series from dataframe. But for this I have to iterate over the whole series(using ValuesIterator) to get back each element in

[2020-05-29 06:48] pjebs commented on #30
For gonum use only SeriesFloat64. You can then access `.Values` field.

[2020-05-29 06:48] pjebs commented on #30
That is a []float64

[2020-05-29 06:49] pjebs commented on #30
You can type assert series interface to `*SeriesFloat64`

[2020-05-29 06:54] pjebs commented on #30
https://godoc.org/github.com/rocketlaunchr/dataframe-go#SeriesFloat64

[2020-05-29 07:10] pjebs commented on #30
[code]

[2020-05-29 07:55] patgunner commented on #30
Thanks @pjebs . That worked for me.
One other small input I wanted for the following scenario.

If I have an input in the form of []interface{} and I want to add this to a SeriesFloat64/SeriesInt64 series, would there be some easy way to achieve this?

[2020-05-29 08:52] pjebs commented on #30
[code]

But it doesn't seem like you can insert slice of interface into an existing Series.

But the underlying problem is your data should not be in `[]interface{}{}`

[2020-05-29 11:19] #30 closed

[2020-05-30 02:22] SchineCompton opened #31 "Timeindex and Resample like pandas"
Hi, This is a very helpful package, I was wondering do we have plans implementing `Timeindex` for series / dataframe and implement resample just like pandas? Could be extremely useful. If no one is doing it I am happy to contribute.

[2020-05-30 02:40] pjebs commented on #31
I've definitely wanted to implement them. Just didn't have time.
If you can build a prototype, I can get a feel for how you plan to implement it. It will probably go into the utils package and not the pandas package.

[2020-05-30 02:42] SachinCompton commented on #31
Perfect! I'll let you know once I have a prototype.

[2020-05-30 12:13] pjebs commented on #31
https://towardsdatascience.com/using-the-pandas-resample-function-a231144194c4

[2020-06-07 23:38] beaquant opened #32 "nothing for Xaxis and Yaxis"
I copy the followed code from readme, but the chart haven't value in a Xaxis and Yaxis

[code]

[2020-06-08 00:21] pjebs commented on #32
The `plot` package leverages any third party plotting package that has the capability to write to a `io.Writer` (which is probably all plotting packages).

In the example I use `github.com/wcharczuk/go-chart` package.
If you read the documentation in there, you'll see how to add the XAxis and YAxis.
I didn't write it in the example to keep the Readme short. It is getting too long.

I think the `gr

[2020-06-09 02:40] beaquant commented on #32
thanks, it's work now :)

[2020-06-09 02:40] #32 closed

[2020-06-30 16:43] zdevwu commented on #31
@SachinCompton how is it going with the prototype?

[2020-07-01 07:31] n-is opened #34 "Can I read CSV file in batch?"
I would like to know if I can read a CSV file in batches. If it is possible, how can I do it?  I looked through the docs and examples and could not find the required information. Any help would be appreciated.

Thank you.

[2020-07-01 08:46] pjebs commented on #34
You will have to implement it yourself. You will need familiarity with the "encoding/csv" package.

You can find guidance here: https://github.com/rocketlaunchr/dataframe-go/blob/master/imports/csv.go#L70

It is actually not that difficult to do.

[2020-07-07 22:24] #34 closed

[2020-08-13 00:24] KateGo520 opened #37 "Potential collision and risk from indirect dependence "github.com/gotestyourself/gotestyourself""
## Background
Repo `rocketlaunchr/dataframe-go` used the old path to import `gotestyourself` indirectly.
This caused that `github.com/gotestyourself/gotestyourself` and `gotest.tools` coexist in this repo：
https://github.com/rocketlaunchr/dataframe-go/blob/master/go.mod （Line 20 & 40）
[code]

That’s because the `gotestyourself` has already renamed it’s import path from "github.com/gotestyourself/g

[2020-08-13 00:25] KateGo520 commented on #37
@rocketlaunchr-cto  @propersam  Could you help me review this issue? Thx :p

[2020-08-13 00:34] pjebs commented on #37
I'll have a look at it within 2 days. Should be an easy fix.

[2020-08-13 02:12] pjebs commented on #37
done

[2020-08-13 02:58] KateGo520 commented on #37
@pjebs Thank you for your contribution.

[2020-08-15 08:56] pjebs commented on #37
@KateGo520 I may have to revert this because it looks like `go test` doesn't work with the replace directive.

[2020-08-15 09:01] pjebs commented on #37
I think your only concern is deduplication of essentially the same package (increase file size), which is not a "collision risk".

By the looks of it, you may need to file a bug report with regards to `go test` so it accepts the replace directive in this scenario, or lobby all packages to correct their path dependency to the new path and/or (perhaps in some cases) use the Go `alias` decleration fe

[2020-08-22 04:01] pjebs opened #39 "OrderedMap bug"
For ordered map:

When setting an existing value, should we remove old value and append new?
[code]

For Delete function, if key is not found, then return immediately.

[2020-08-22 06:34] #39 closed, assigned to nobody

[2020-09-13 23:26] khughitt opened #40 "Expand docs to include other common dataframe operations, etc."
Greetings!

Just a minor suggestion, but if you have the time, it could be useful to expand the docs a bit more to cover some additional common operations applied to dataframe-like structures, where supported.

For example:

- retrieving a single row
- retrieving a single column
- selecting row/column subsets by indices or ranges
- selecting a single value by <row, column> indices

Further, one ot

[2020-09-14 00:18] pjebs commented on #40
I am reluctant to add more content to the readme because it is too big. I want to readme to be nothing more than a general introduction.

The plan is:

1. Create a comprehensive manual website (not a wiki page).
2. Truncate the readme significantly.

When I get some time I will do it.

[2020-09-14 02:57] pjebs commented on #31
@zdevwu do you want to have a go at this?

[2020-09-14 06:10] khughitt commented on #40
That's fair.

I agree that re-purposing the README.md as a manual is probably not ideal, so a separate Hugo-based manual sounds great.

That is also understandable regarding uisng godocs. The only reason is took longer really is because I'm still fairly new to Go programming in general, but even then, I was still able to figure most things out on my own with a little effort. I suspect other users

[2020-09-14 08:24] #40 closed

[2020-09-14 11:05] pjebs commented on #40
Do you want to write the manual?

[2020-09-14 14:24] khughitt commented on #40
Realistically, I probably won't have the time to do that anytime soon.

If you want though, perhaps you could create an outline for what you have in mind as far as the manual, and just hold off making it public / keep it in a separate branch initially.

Then, as I'm working through different things I can try and help fill in sections of it.

[2020-09-16 13:54] khughitt commented on #40
Quick question -- how do you retrieve the values for a single column in a dataframe, given the column name?

I tried to figure it out from the code for DataFrame and Series, but have not had any luck..

[2020-09-16 14:19] pjebs commented on #40
https://godoc.org/github.com/rocketlaunchr/dataframe-go#DataFrame.NameToColumn
https://godoc.org/github.com/rocketlaunchr/dataframe-go#DataFrame
df.Series[idx] will return the Series.

[2020-09-16 14:20] pjebs commented on #40
If the series is a SeriesFloat64, you can then use the `.Values` field to get an `[]float64` of all the values. But otherwise you need to iterate to obtain the values.

[2020-09-16 14:28] khughitt commented on #40
Ah got it. I had tries using `df.Series[df.NameToColumn("foo")].Values`, but this was for a SeriesInt64 column, so it wasn't working.

Thanks for the quick response and suggestions!

[2020-09-16 14:37] sumanlucky05 opened #41 "Please provide a way to create a Dataframe of type array/slice and export to parquet"
The library is very useful and somewhat tries to imitate the pandas library of Python . It would be very beneficial if you could provide support to create a NewSeriesArray() method that would be beneficial to create a proper parquet file.

[2020-09-16 15:57] pjebs commented on #40
Nametocolumn returns 2 values. So you can't inline.

You can use MustNameToColumn instead

[2020-09-16 15:58] pjebs commented on #41
What's a series array?

[2020-09-16 15:59] pjebs commented on #41
You can already export to parquet

[2020-09-16 21:25] khughitt commented on #40
Yep. I realized that shortly after posting. Haven't tried `MustNameToColumn` though.. I'll check it out. Thanks for the tip!

On the topic of documentation, one more thing that could be useful to consider including (probably in the README, and not the manual) would be a quick overview with what you see as the strengths (and limitations) of dataframe-go vs.

1. [qframe](https://github.com/go-gota/g

[2020-09-18 23:20] #41 closed

[2020-09-20 04:42] stevegt opened #42 "nonstandard license creates uncertainty"
Licenses are code, and are tricky to the point of being analogous to cryptographic algorithms -- writing your own invariably creates unintended consequences.  For instance, as currently worded, even with the best of intentions, a web developer might deploy the package believing themselves to be in full compliance with the license, then later learn that a site user is non-compliant, at which point

[2020-09-21 09:19] pjebs commented on #42
Thank you for pointing out the json license.
I don't have the time to think about it yet I'll have another reconsider in the medium-term future.

[2020-10-05 22:42] migscabral opened #43 "Inconsistent behavior for Apply when using with ApplyDataFrameFn"
I'm trying to concatenate two columns in a dataframe and put it into a new column. The behavior is very inconsistent. Sometimes the strings are concatenated into the new column. Sometimes the value is just set to `NaN`.

In this run, the value for `concat_contact_number` in the resulting dataframe was correctly set to `97312345678`.
The map value for `concat_contact_number` also reflects the conca

[2020-10-05 23:19] pjebs commented on #43
[code]

[2020-10-05 23:20] pjebs commented on #43
The `Apply` function is deterministic. If you see any 'random' behaviour, it's because something else is causing the randomness.

In your case:

[code]

`for _, key := range columns` is random.

[2020-10-06 17:18] migscabral commented on #43
@pjebs I updated my code to return a new map from inside `ApplyDataFrameFn` and it now works. Thank you.

I have several questions so I may understand better how this library works:

1. I'm not sure where in my code where the int or string keys were set. From what I understand I did not explicitly set to use the int or string keys. The `vals` map that was received by `ApplyDataFrameFn` already con

[2020-10-06 23:36] pjebs commented on #43
1. the `vals` param contains the existing values for the row with the key as an int (index) and string (name) for convenience.

2. The applyFn must return a map that contains only what you want to update. You were basically rereturning the current row values (and not just the changes to update). I have updated the documentation to make it clearer.

[2020-10-06 23:39] migscabral commented on #43
Thank you @pjebs much clearer now. Do you have a link to the said documentation?

[2020-10-06 23:39] #43 closed

[2020-10-06 23:44] pjebs commented on #43
let me refresh godocs.org

[2020-10-06 23:45] pjebs commented on #43
https://godoc.org/github.com/rocketlaunchr/dataframe-go#Apply
https://godoc.org/github.com/rocketlaunchr/dataframe-go#ApplyDataFrameFn

[2020-10-07 02:10] #37 closed

[2020-10-09 08:40] migscabral opened #44 "CSV import does not support dictated type for fields with potential empty values"
When importing CSV and a field has empty values at some rows, import ignores the dictated data type and forces to interpret the field as string.

[code]

This code produces the error:

[code]

How should I be able to create a dataframe from a CSV with empty values, that still follows the dictated type and have NaN instead on the empty vlaues?

Expected output should be:
[code]

[2020-10-09 09:11] pjebs commented on #44
See `NilValue` : https://godoc.org/github.com/rocketlaunchr/dataframe-go/imports#CSVLoadOptions

[2020-10-09 09:13] pjebs commented on #44
`NilVaue: &[]string{""}[0]`

[2020-10-18 19:48] #44 closed

[2020-12-29 18:01] andrewm4894 opened #45 "undefined: dataframe.LoadFromCSV"
When i run the below example to read in a df from a dummy string i get the below errors:

[code]

[code]

I'm not really sure what i'm doing wrong here. Was trying to use example from this sort of approach: https://github.com/rocketlaunchr/dataframe-go/blob/master/imports/infer_test.go

Here is the output of go env

[code]

p.s. i'm new to Go so pretty sure it could be me doing something silly :)

[2020-12-29 19:31] pjebs commented on #45
Your CSV string is not valid. In order to make it look nice, you've added tabs/spaces at the start of each line

[2020-12-29 19:32] pjebs commented on #45
Format it to look like the one in example or read from a CSV file

[2020-12-30 01:58] pjebs commented on #45
imports "github.com/rocketlaunchr/dataframe-go/imports"

[2020-12-30 01:59] pjebs commented on #45
Import path is not correct

[2020-12-30 20:39] andrewm4894 commented on #45
Thank you - working code below:

[code]

[2020-12-30 20:39] #45 closed

[2021-01-06 15:29] space55 opened #46 "Reading from Parquet"
Hello,

Are there any plans to support reading a Parquet file into a dataframe? I have a need for this and am evaluating this library to use in an application.

Thanks!

[2021-01-07 00:12] pjebs commented on #46
I've had lots of people in the past people asking for exporting to parquet, which I implemented.
You're the first to ask about importing, but I had put it in my todo list in may.
I won't have time to implement it soon. However, you can issue as PR.

[2021-01-07 00:13] pjebs commented on #46
Hmmm. I noticed in my TODO list (https://github.com/rocketlaunchr/dataframe-go/issues/17), there had been 3 thumbs up for that request.

[2021-01-17 22:46] khughitt commented on #46
In case it helps, here is some code I wrote to read a parquet file into a DataFrame that you may be able to adapt in the meantime:

[code]

Few comments:

1. I can't make any claims that it is the most efficient approach, and feedback is welcome, but at least this should do the job..
2. The function loads a parquet dataframe containing "entries", with an expected format.. I left a lot of the file-

[2021-01-19 23:57] pjebs commented on #46
Thanks @khughitt . I need to generalise it so that it works for anything parquet data.

[2021-02-16 10:16] CeciliaCoelho commented on #46
@pjebs  Did you manage to generalise it? Can't get it to work, getting this error.

![image](https://user-images.githubusercontent.com/64708317/108049274-f45e3f80-703f-11eb-8be5-981436c930e1.png)

[2021-02-16 10:20] pjebs commented on #46
@CeciliaCoelho can you show me your code.

I was actually waiting for a response to these Qs: https://github.com/xitongsys/parquet-go/issues/360

[2021-02-16 10:35] CeciliaCoelho commented on #46
Getting a new error now. This was a CSV that I converted to parquet using python but wanted to open and use in Go because of efficiency.
The CSV was like this:
![image](https://user-images.githubusercontent.com/64708317/108050647-cd087200-7041-11eb-8a6d-2ad388bc310d.png)

I have this code:

[code]

Now the error I'm getting is this:
![image](https://user-images.githubusercontent.com/64708317/10805

[2021-02-16 10:43] pjebs commented on #46
The "new" error is because you are trying to sort based on a Series called "datecreated" but you don't have such a field.

[2021-02-16 10:46] CeciliaCoelho commented on #46
Oh right, didn't notice that. It's running now.  Thanks :)
How do I print or access the dataframe? (bet it's a stupid question, sorry I'm a Golang newbie)

[2021-02-16 10:48] pjebs commented on #46
the function returns a *dataframe.DataFrame object. You can see examples in the Readme.

However, when I look at the code, it's not efficient at loading the Dataframe with the data. I need to understand that Parquet package better before I can improve the code.

[2021-02-17 09:30] pjebs commented on #46
Parquet importing is now supported (experimental): @CeciliaCoelho @khughitt @space55

[2021-02-17 09:30] #46 closed

[2021-02-17 09:31] pjebs commented on #41
Parquet import now implemented

[2021-02-17 09:31] pjebs commented on #25
Parquet import now implemented

[2021-02-17 14:26] CeciliaCoelho commented on #46
Thanks a lot for your efforts!

Was trying out the example with my file but I'm not sure what the variable ctx should be. Example code below:

[code]

[2021-02-17 16:33] CeciliaCoelho opened #51 "Export to Parquet example"
Can someone give me an example of how to write the code to export a dataframe to a parquet file (couldn't find one anywhere)? I have no idea how to define the writer inside the ExportToParquet.
Knowing that i have a dataframe df, i have this code inside main:

[code]

Getting this error:
![image](https://user-images.githubusercontent.com/64708317/108235567-d70f9b00-713d-11eb-950d-c57c48a4cbf3.png)

[2021-02-17 23:24] pjebs commented on #51
exports.ExportToParquet(ctx, w, df)

[2021-02-19 12:51] #51 closed

[2021-02-22 20:43] padchin opened #52 "Draw graphs from columns of dataframe"
Hi! At the moment I have managed to plot a separate dataframe column by this strange method:
[code]
Is there any simplier or more elegant method to do this job? And another question is if I can plot several columns on one plot? And if it is possible, how can I do this? Thanks in advance.

[2021-02-22 20:47] pjebs commented on #52
1. Series string should have a function called ToFloat
2. You can add more series to  []chart.Series{cs}
3.

[2021-02-22 20:56] padchin commented on #52
My ```s``` (type:  dataframe.Series) does not have this method

[2021-02-22 20:59] pjebs commented on #52
https://pkg.go.dev/github.com/rocketlaunchr/dataframe-go#SeriesString.ToSeriesFloat64

[2021-02-22 21:00] pjebs commented on #52
You also don't need to save plot to file. See readme on usage.

[2021-02-23 10:29] padchin commented on #52
Ok, then. I understood conserning ```DictateDataType```. This is not my case as I don't know the name of columns in advance. But I cannot still understand how to extract ```SeriesString``` form dataframe's columns which have type ```Series```.

[2021-02-23 11:09] pjebs commented on #52
you need to type assert

[2021-02-23 12:45] padchin commented on #52
I would really appreciate it if you could share a small example. Because this construction is not correct:
[code]
I cannot imagine what should I do now.

[2021-02-23 19:43] pjebs commented on #52
https://medium.com/@rocketlaunchr.cloud/type-conversions-casting-type-assertions-fb295430e387

[2021-02-24 15:53] padchin commented on #52
Thanks for your assistance. Finally I was able to figure out the type assertions. But now I have a new question. What fuction should I pass to ```ToSeriesFloat64``` to make conversions?

[2021-02-24 16:47] #52 closed

[2021-02-25 20:25] padchin opened #53 "Appending a dataframe with another one."
Hello. Is there simple way to join two dataframes of same dimension? Something like df = append(df, another_df) or similar.
| 1 | B | C |
|-|-|-|
| 2 | D | E |
+
| 3 | BC | CD |
|-|-|-|
| 4 | DB | EB |
=
| 1 | B | C |
|-|-|-|
| 2 | D | E |
| 3 | BC | CD |
| 4 | DB | EB |

[2021-02-27 07:32] pjebs commented on #53
I'll need to create a new ReCap function to implement this feature.

[2021-04-15 03:29] sunhailin-Leo opened #55 "How to set_index with two columns?"
* I want to use two columns to be a unique index. How can I implement it?

[2021-04-15 03:37] pjebs commented on #55
There is no support of indexing.

[2021-07-25 20:58] mrogojanu commented on #31
Hi, just wondering if this is progressing or not.  Looking forward for an alternative to pandas  for time series manipulation.  Thanks.

[2021-07-26 01:28] pjebs commented on #31
I'm working on a different feature at the moment.

[2021-08-01 09:11] hamiwa opened #56 "LoadFromJSON Not Working"
files, err := ioutil.ReadFile("device.json")
	if err != nil {
		fmt.Println(err)
	}

	var ctx = context.Background()
	df2, _ := imports.LoadFromJSON(ctx, strings.NewReader(string(files)))

	fmt.Println(df2.Table())

[2021-08-01 09:34] pjebs commented on #56
what does your json file look like?

[2021-08-01 09:35] pjebs commented on #56
what is the error message? You are `_` the error message.

[2021-08-01 18:20] hamiwa commented on #56
Hi,
Please see JSON file content and error msg below:

JSON
#####
[
{
"device":"A",
"vendor":"A",
"nos":"",
"address":"A"
},
{
"device":"B",
"vendor":"B",
"nos":"B",
"address":"B"
}
]
error
####
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x0 pc=0x52a54f]

goroutine 1 [running]:
github.com/rocketlaunchr/dataframe-go.(*DataFrame).Table(0x

[2021-08-01 19:01] pjebs commented on #56
Currently it only supports jsonl format: https://jsonlines.org/

Let me adjust the code on a few days for your use case.

[2021-08-01 19:03] pjebs commented on #56
In the mean time, remove the outer array and then make each object into a new line (no comma)

[2021-08-02 08:32] hamiwa commented on #56
Thanks, I will attempt using the above method and see how this performs - Appreciate the time taken on this.

[2021-08-14 11:07] pjebs commented on #56
Almost complete

[2021-08-15 03:47] longwQaQ opened #57 "How to remove duplicate rows in DataFrame?"
How to remove duplicate rows in DataFrame?
python's pd.drop_duplicates()

[2021-10-25 05:07] pjebs commented on #56
Complete. Now it supports loading from JSON arrays, JSONL arrays and JSONL objects.
It is also faster at importing.

[2021-10-25 05:07] #56 closed, assigned to nobody

[2021-10-25 08:51] hamiwa commented on #56
Excellent! I will do some tests and confirm, appreciated.

On Mon, 25 Oct 2021, 06:08 pj, ***@***.***> wrote:

[2021-10-26 10:00] pjebs commented on #57
To efficiently do this, each Series will need to maintain some kind of index. Let me have a think about it. Do you know it is achieved in panda?

[2021-11-19 20:04] Patrikios opened #58 "Problem getting the package"
Problem getting the package:

[code]

[2021-11-19 20:17] pjebs commented on #58
Can you use godepgraph repo to find out what is importing blend/go-sdk? Go.mod days indirect import.

I've never seen it before.

[2021-11-19 21:15] Patrikios commented on #58
It seems it was problem caused by `dnf install` go installation on a freshly installed fedora 35 workstation. Reinstalled with the official go version. Now `dataframe-go` package is being found. Sorry for the inconvenience.

[2021-11-19 22:20] pjebs commented on #58
I did recently change minimum version to go1.15. Could that have been why?

[2021-11-20 11:50] Patrikios commented on #58
The default `dnf` go version is currently 1.16, hence the minimum version requirement was not the issue I believe. Most probably the 1% error in this case.

[2021-11-20 19:35] #58 closed, assigned to nobody

[2022-01-09 01:17] kant777 opened #59 "is group by supported?"

[2022-03-03 16:16] wagslane opened #60 "Bad import, was an upstream dependency deleted?"
[code]

It looks like `v1.1.1` of `github.com/blend/go-sdk` is missing. Are you seeing the same or am I taking crazy pills today?

[2022-03-04 01:14] pjebs commented on #60
Let me run https://github.com/kisielk/godepgraph to see where the dependency is even coming from. Never seen it before in my life.

[2022-03-04 01:33] wagslane commented on #60
It's listed in the go.mod

[2022-03-04 02:26] pjebs commented on #60
It's an indirect

[2022-03-04 02:36] wagslane commented on #60
Oh, lame that go get doesn't give a more verbose chain. My bad.

[2022-03-30 06:34] tanyaofei opened #61 "Error to read parquet with latest parquet-go"
##
1. Create a file with python pandas
[code]
This file looks like:
<img width="232" alt="image" src="https://user-images.githubusercontent.com/46375450/160764592-2c226509-c54b-48aa-853e-39ec7eb7412c.png">

2. Read this file
[code]

3. Got a unique name error
[code]
4. Following the stack, I found some useful informations
+ All series in method `imports.LoadFromParquet` with empty names
<img width

[2022-03-30 07:00] pjebs commented on #61
Can you send me the file

[2022-03-30 07:03] tanyaofei commented on #61
[1.parquet.zip](https://github.com/rocketlaunchr/dataframe-go/files/8377856/1.parquet.zip)

[2022-03-30 07:03] tanyaofei commented on #61
[1.parquet.zip](https://github.com/rocketlaunchr/dataframe-go/files/8377859/1.parquet.zip)

[2022-03-30 07:12] pjebs commented on #61
Can you create the DataFrame from this package, export it to paraquet and then try and import it back?

[2022-03-30 07:18] tanyaofei commented on #61
I tried it at the first time, it seems like a error parquet file with content "PAR1"
[code]
<img width="203" alt="image" src="https://user-images.githubusercontent.com/46375450/160774037-76bf14e5-0493-4c8e-a723-593bedf9bed8.png">

[2022-03-30 07:22] pjebs commented on #61
A Parquet file is not text based. Can you try importing the file back.

[2022-03-30 07:28] tanyaofei commented on #61
[code]

[code]

Error at `imports/parquet.go`, line 40: `pr, err := reader.NewParquetReader(src, nil, int64(runtime.NumCPU()))`

[2022-03-30 07:32] tanyaofei commented on #61
My `parquet-go` version is v1.6.2: `github.com/xitongsys/parquet-go v1.6.2`

[2022-03-30 07:36] pjebs commented on #61
I tried opening your file and it worked:

[code]

OUTPUT:

[code]

[2022-03-30 07:38] tanyaofei commented on #61
Can you tell me your `parquet-go` version ?

[2022-03-30 07:39] pjebs commented on #61
[code]

[2022-03-30 07:45] tanyaofei commented on #61
I use `github.com/apache/thrift v0.0.0-20181112125854-24918abba929`, `github.com/xitongsys/parquet-go v1.5.2` and it works.

[2022-03-30 07:45] pjebs commented on #61
In the release notes:

[code]

I may need to update package to use 1.6+ instead of 1.5.

No idea why it is not using v1.5 for you since it's registered in the `go.mod` file.

[2022-03-30 07:50] tanyaofei commented on #61
v1.5 works find, may be i installed parquet-go before installed dataframe-go, not sure about it.

[2022-03-30 07:52] tanyaofei commented on #61
It seems the problem solved, I should close this issue

[2022-03-30 07:52] pjebs commented on #61
Maybe you directly imported `"github.com/rocketlaunchr/dataframe-go/imports"` without importing `"github.com/rocketlaunchr/dataframe-go"`. Since there is no `go.mod` file inside `github.com/rocketlaunchr/dataframe-go/imports` directory, it just downloaded and used the latest version of `parquet-go`

[2022-03-30 07:59] tanyaofei commented on #61
Here is my shell records
[code]

[2022-03-30 08:31] pjebs commented on #61
You shouldn't have done the last 2 `go gets` since they don't have a `go.mod` file so it just assumed the latest version hence: `go: upgraded github.com/xitongsys/parquet-go v1.5.2 => v1.6.2`

[2022-03-30 08:31] pjebs commented on #61
From Go's point of view, when you do that, it's an unrelated package.

[2022-03-30 08:33] tanyaofei commented on #61
Get it, thanks a lot

[2022-04-01 16:50] tanyaofei opened #62 "Error to read csv encoding utf-8 with bom and export back to parquet"
the error is exception recovered: reflect.StructOf: field 0 has invalid name
at `ompluscator/dynamic-struct@v1.3.0/builder.go:192`
[export.csv](https://github.com/rocketlaunchr/dataframe-go/files/8399584/export.csv)

[2022-04-01 20:45] pjebs commented on #62
Can got provide your code too

[2022-04-02 01:33] tanyaofei commented on #62
[code]

[2022-04-02 03:26] pjebs commented on #62
Your column names are:

[code]

Currently I implemented this function for exporting to Parquet:
https://github.com/rocketlaunchr/dataframe-go/blob/master/exports/parquet.go#L163

It was based on this article: https://html.developreference.com/article/11087043/Spark+dataframe+column+naming+conventions+++restrictions

Do you know if parquet supports chinese characters? Can you point me to the specs?

[2022-04-02 03:33] pjebs commented on #62
Actually, I think the issue is from this package: https://github.com/Ompluscator/dynamic-struct

It is used to create a struct dynamically. I think Go prohibits using chinese characters for the first letter for an export field. I will have to explore it further.

[2022-04-02 03:33] tanyaofei commented on #62
Yes, it supported. I think the problem is the first character is the bom character `\ufeff`, it can't be seen but it existed in the first series name, it will cause `dynamicstruct` field name check error.

[2022-04-02 03:35] tanyaofei commented on #62
I think removing the first character if it's `\ufeff` will solve this problem

[2022-04-02 03:37] pjebs commented on #62
How did that character get there?

[2022-04-02 03:37] tanyaofei commented on #62
by reading a csv encoded with UTF-8 with bom?

[code]
[withbom.csv](https://github.com/rocketlaunchr/dataframe-go/files/8401754/withbom.csv)

It cause the same problem

[code]

[2022-04-02 03:38] pjebs commented on #62
As an experiment, can you add a **Upper-case** English letter at the front of each column name and tell me if it exports?

eg. `A年龄`

I believe the actual issue is that in Go, structs must have a uppercase english letter for the first letter of the field, in order to be exported.

Without it, the field is not exported and the parquet writer package (used for exporting) can't see the field:

https:

[2022-04-02 03:44] tanyaofei commented on #62
I use `utf-8-sig` because open a csv file with excel will use `gbk` default, the bom will tell excel to read with `utf-8` encoding

[2022-04-02 03:44] pjebs commented on #62
Is `df, err := imports.LoadFromCSV(ctx, fr)` correctly reading the csv?

[2022-04-02 03:46] tanyaofei commented on #62
yes

[2022-04-02 03:48] pjebs commented on #62
As an experiment can you:

1. Iterate over []df.Series
2. Call Rename on each series and prepend each series name with `"X"` (e.g `X年龄`)
see https://pkg.go.dev/github.com/rocketlaunchr/dataframe-go#SeriesFloat64.Rename

3. Then export to parquet

[2022-04-02 03:53] tanyaofei commented on #62
[code]

<img width="1362" alt="image" src="https://user-images.githubusercontent.com/46375450/161365179-3b572683-ab37-4cc8-9e26-806c2c1bdf65.png">

[code]

[2022-04-02 03:54] tanyaofei commented on #62
<img width="265" alt="image" src="https://user-images.githubusercontent.com/46375450/161365220-f303e7d6-6c30-4906-8067-60a8dac3ad7f.png">

[2022-04-02 03:56] pjebs commented on #62
Okay, also call https://pkg.go.dev/strings#TrimSpace

[2022-04-02 04:23] pjebs commented on #62
Also when importing CSV:

[code]

That option is available.

[2022-04-02 04:42] tanyaofei commented on #62
no effect

[2022-04-02 04:45] tanyaofei commented on #62
no effect either

[2022-04-02 04:46] tanyaofei commented on #62
`s.Rename("X" + strings.Trim(s.Name(), "\xEF\xBB\xBF"))` works

[2022-04-02 05:13] pjebs commented on #62
There are 2 different issues here:
1. Those weird space characters. I will update the csv importing function to remove them.
2. Currently the way it's implemented (using https://github.com/Ompluscator/dynamic-struct), it doesn't support columns with first character Chinese. I will need to find a solution to it.
3. Most likely, it will be an option that says if the columns start with Chinese,Japane

[2022-04-02 05:15] pjebs commented on #62
This has been a problem for many years: https://github.com/golang/go/issues/5763.

[2022-04-02 10:00] pjebs commented on #62
I believe I have a solution. Does Python always produce `"\xEF\xBB\xBF"` when saving csv? What is the purpose of it? I'm just asking because I'm trying to figure out the repercussions of filtering it out.

See: https://github.com/golang/go/issues/33887

[2022-04-02 10:08] tanyaofei commented on #62
no, `"\xEF\xBB\xBF"` is only produced when using `UTF-8-SIG` encoding. Some people want to open csv file with excel on Windows, they will us `UTF-8-SIG` instead of `UTF-8`, only in this way, the Windows  System can recognize the encoding correctly, otherwise, it's full of messy code.

[2022-04-02 10:11] tanyaofei commented on #62
In fact,` "\xEF\xBB\xBF"` is used to mark that this is a UTF-8 file, without it then Windows will uses the locale encoding(which is `GBK` for China) for decoding

[2022-04-02 10:48] pjebs commented on #62
Can you test out this branch: https://github.com/rocketlaunchr/dataframe-go/pull/63

It should solve both problems.

[2022-04-02 14:04] tanyaofei commented on #62
I will test the branch later, but i am wondering why not name struct fields by index such as `Z1`, `Z2` `Z3`. It's necessary to give names base on `series.Name` ?

[2022-04-02 19:21] pjebs commented on #62
The `Z` is just to force the struct field to be exported. Nothing else. It was just a quick fix.

[2022-04-24 11:11] pjebs commented on #55
https://github.com/blugelabs/bluge

[2022-06-04 10:08] chippyash commented on #61
Hi - when is this lib going to be upgraded to use >= V1.6.2 of parquet-go please?  having to fix on v1.5.4 just broke all the tagging I was using which assumed V1.6.2 :-(

[2022-06-04 10:28] pjebs commented on #61
There is a backward-incompatible change in v1.6.2. Therefore I will need to explore it more deeply.

This package's go.mod is set to `github.com/xitongsys/parquet-go v1.5.2` so it should work for you provided you don't try and indepdently `go get` the `"github.com/rocketlaunchr/dataframe-go/imports"` package.

Let the main package dictate the dependencies for the sub-packages.

[2022-06-14 15:47] ppd0705 commented on #60
hey @pjebs
the error is still in there, do you have any plan to upgrade go-chart to resolve this problem? the newest go-chart remove the `github.com/blend/go-sdk` requirement already.
because for the new users,  the local mod dir doesn't have `github.com/blend/go-sdk@v1.1.1` , they can't make it work

[2022-07-01 20:16] stevebriskin opened #64 "Indirect dependency `github.com/blend/go-sdk v1.1.1` does not exist"
I suspect that the library maintainers prepended "legacy-" to versions before changing the versioning scheme. At the least, this dependency should be updated to `legacy-v1.1.1`.

[2022-07-01 22:26] pjebs commented on #64
If it's indirect, how can I control it?

[2022-07-01 22:40] stevebriskin commented on #64
You can explicitly set it in your go.mod file to override “v1.1.1” to “legacy-v1.1.1”. Or determine which of your dependence’s pulls it in with ‘go mod graph’ and upgrade that one.

[2022-09-08 14:36] sdfwds4 opened #66 "Error to import csv, raised parquet-go error"
Hi, I got an error to import csv, need help!
code from [README.md](https://github.com/rocketlaunchr/dataframe-go#readme)
[code]
There is error to run
[code]

[2022-09-08 14:39] pjebs commented on #66
Your code had nothing to do with parquet. Why is parquet package generating errors?

[2022-09-08 14:51] winston-p opened #67 "Progress for re-write of dataframe-go?"
It's written in the README file that _"Once Go 1.18 (Generics) is introduced, the ENTIRE package will be rewritten."_, As Go 1.18 has been released for a while, I'm wondering if work has started on re-writing of the entire package. If so, how's the progress?

[2022-09-08 15:08] sdfwds4 commented on #66
Idon't know, I want to find it out too. It seem be a Go building error.

[2022-09-08 21:26] pjebs commented on #67
I'm still thinking about the best way to rewrite it. Looking for suggestions and help

[2022-09-09 00:31] pjebs commented on #66
Can you send me your full project so I can investigate

[2022-09-09 02:46] sdfwds4 commented on #66
I copy my code to other PC, it work, and has no error, so it maybe my problem.

[2022-09-09 02:46] #66 closed, assigned to nobody

[2022-09-09 09:05] winston-p commented on #67
I see. Perhaps you could detail some of your thoughts and ideas so far? I'm fairly new to Go but I'm sure others more experienced than me can chime in and/or offer help.

[2022-09-09 11:55] pjebs commented on #67
Do you want to have a zoom chat?

[2022-10-03 09:02] MarkieMark commented on #64
to clarify what Steve said, adding
[code]
to your `go.mod` works; however there is now a new dependency error
[code]
that needs a more involved replace directive
[code]

[2022-10-05 02:27] pjebs commented on #64
I've never been able to reproduce this issue. That's why this issue has been kept open.

[2022-10-05 08:08] MarkieMark commented on #64
I'm working in Fedora 36 with (as far as I recall) a basically vanilla `.rpm` go; a `$ go get github.com/sjwhitworth/golearn` from a Fedora 36 virtual machine should behave similarly

[2022-10-05 17:58] stevebriskin commented on #64
We encountered it after configuring our project for dependabot in github. Dependabot runs failed fetching blend.
Our *theory* is that `go get` uses a proxy by default which caches blend v1.1.1 even though the tag has been renamed to legacy-v1.1.1. To repro, we ran `go get` without a proxy `GONOSUMDB=* GONOPROXY=* go get -x github.com/blend/go-sdk@v1.1.1` which led to "unknown revision" errors. So.

[2022-10-23 07:17] BeKindIamWithChild opened #68 "DF Practice"

[2022-10-25 11:05] amlwwalker commented on #67
Would love to see this working with generics (and possibly be able to import a python pandas dataframe would be excellent). Happy to be involved to help with any thought process as this will be a game changer for Go!

[2022-10-25 11:21] pjebs commented on #67
@amlwwalker Let me know if you want to help. My vision for how to add generics came undone when I learnt that you can't have generic methods: You can have generic functions obviously. But for some reason no generic methods.

[2022-10-25 13:04] amlwwalker commented on #67
@pjebs does this not work? https://stackoverflow.com/a/70668559/1414721

can you give an example of a situation where that wouldn't cover the use case?

[2022-10-25 21:10] pjebs commented on #67
@amlwwalker That is a generic function. Not a generic method.

[2022-10-26 05:44] pjebs commented on #67
[code]

[2022-10-27 10:38] amlwwalker commented on #67
Does this not help?
https://stackoverflow.com/a/71378366/1414721

So each struct will need the method available on it, (could that be generated?) but you can then use an interface?

[2022-10-27 11:11] pjebs commented on #67
Do you want to discuss over Zoom?

[2022-10-27 11:12] amlwwalker commented on #67
happy to - I'm not very familiar with Go generics so I am probably not so useful to you, but if you want to talk it through with someone happy to be a sounding board. Got to get some stuff done right now, but can plan?

[2022-10-27 11:14] pjebs commented on #67
send me an email with your availability: rocketlaunchr.cloud@gmail.com

[2022-11-05 14:50] nfx opened #69 "Add equivalent of `pandas`.`read_html`"
To get more feature parity with Pandas, integrate with https://github.com/nfx/go-htmltable.